In [1]:
import pandas as pd
from aqs_class import AQSFetcher
import matplotlib.pyplot as plt
from config import aqs_key, aqs_email

In [2]:
aqs_fetcher = AQSFetcher(aqs_email, aqs_key)

In [3]:
aqi_pollutant_parameters = aqs_fetcher.get_parameter_list_by_class('AQI POLLUTANTS')
aqi_pollutant_parameters

    code                   parameter_description
0  42101                         Carbon monoxide
1  42401                          Sulfur dioxide
2  42602                  Nitrogen dioxide (NO2)
3  44201                                   Ozone
4  81102                   PM10 Total 0-10um STP
5  88101                PM2.5 - Local Conditions
6  88502  Acceptable PM2.5 AQI & Speciation Mass

In [4]:
pollutant_codes = ['44201', '42101', '88101']
#pollutant_codes = aqi_pollutant_parameters['code'].tolist()
print(pollutant_codes)

['44201', '42101', '88101']

In [5]:
o3_code = pollutant_codes[0]
co_code = pollutant_codes[1]
pm_code = pollutant_codes[2]

In [6]:
state_codes = aqs_fetcher.get_state_codes()

In [7]:
tn_state_code = state_codes.loc[state_codes.state_name == 'Tennessee'].code.values[0]

In [8]:
tn_daily_pollutant_data = aqs_fetcher.daily_data_by_state(tn_state_code, pollutant_codes, 20150101, 20151201)
tn_daily_pollutant_data

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,47,037,0040,42101,1,36.142400,-86.734100,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
1,47,037,0040,42101,1,36.142400,-86.734100,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
2,47,037,0040,42101,1,36.142400,-86.734100,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
3,47,037,0040,42101,1,36.142400,-86.734100,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
4,47,037,0040,42101,1,36.142400,-86.734100,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45727,47,105,0108,88101,1,35.744539,-84.317057,WGS84,PM2.5 - Local Conditions,24 HOUR,...,118,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Loudon Pope site,130 WEBB DRIVE Loudon TN 37774,Tennessee,Loudon,Loudon,28940,"Knoxville, TN",2019-05-03
45728,47,105,0108,88101,1,35.744539,-84.317057,WGS84,PM2.5 - Local Conditions,24 HOUR,...,118,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Loudon Pope site,130 WEBB DRIVE Loudon TN 37774,Tennessee,Loudon,Loudon,28940,"Knoxville, TN",2019-05-03
45729,47,105,0108,88101,1,35.744539,-84.317057,WGS84,PM2.5 - Local Conditions,24 HOUR,...,118,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Loudon Pope site,130 WEBB DRIVE Loudon TN 37774,Tennessee,Loudon,Loudon,28940,"Knoxville, TN",2019-05-03
45730,47,105,0108,88101,1,35.744539,-84.317057,WGS84,PM2.5 - Local Conditions,24 HOUR,...,118,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Loudon Pope site,130 WEBB DRIVE Loudon TN 37774,Tennessee,Loudon,Loudon,28940,"Knoxville, TN",2019-05-03
45731,47,105,0108,88101,1,35.744539,-84.317057,WGS84,PM2.5 - Local Conditions,24 HOUR,...,118,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Loudon Pope site,130 WEBB DRIVE Loudon TN 37774,Tennessee,Loudon,Loudon,28940,"Knoxville, TN",2019-05-03

In [9]:
tn_daily_pollutant_data['parameter'].value_counts()

Ozone                       24026
PM2.5 - Local Conditions    17072
Carbon monoxide              4634
Name: parameter, dtype: int64

In [10]:
tn_daily_pollutant_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45732 entries, 0 to 45731
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_code           45732 non-null  object
 1   county_code          45732 non-null  object
 2   site_number          45732 non-null  object
 3   parameter_code       45732 non-null  object
 4   poc                  45732 non-null  int64
 5   latitude             45732 non-null  float64
 6   longitude            45732 non-null  float64
 7   datum                45732 non-null  object
 8   parameter            45732 non-null  object
 9   sample_duration      45732 non-null  object
 10  pollutant_standard   45732 non-null  object
 11  date_local           45732 non-null  object
 12  units_of_measure     45732 non-null  object
 13  event_type           45732 non-null  object
 14  observation_count    45732 non-null  int64
 15  observation_percent  45732 non-null  float64
 16  validity_indicator   45732 non-null  object
 17  arithmetic_mean      45732 non-null  float64
 18  first_max_value      45732 non-null  float64
 19  first_max_hour       45732 non-null  int64
 20  aqi                  37415 non-null  float64
 21  method_code          45732 non-null  object
 22  method               45732 non-null  object
 23  local_site_name      44392 non-null  object
 24  site_address         45732 non-null  object
 25  state                45732 non-null  object
 26  county               45732 non-null  object
 27  city                 45732 non-null  object
 28  cbsa_code            43062 non-null  object
 29  cbsa                 43062 non-null  object
 30  date_of_last_change  45732 non-null  object
dtypes: float64(6), int64(3), object(22)
memory usage: 10.8+ MB

In [13]:
output_data_file = "./data/total_pollution_data.csv"
tn_daily_pollutant_data.to_csv(output_data_file, index=False)

In [11]:
tn_daily_pollutant_data['validity_indicator'].value_counts()

Y    45203
N      529
Name: validity_indicator, dtype: int64

In [12]:
tn_daily_pollutant_data=tn_daily_pollutant_data.loc[tn_daily_pollutant_data['validity_indicator']=='Y']

In [13]:
features = ['county_code', 'site_number', 'latitude', 'longitude', 'parameter', 'sample_duration', 'date_local', 'units_of_measure',
           'arithmetic_mean', 'aqi', 'county', 'cbsa']

In [14]:
tn_daily_pollutant_data = tn_daily_pollutant_data[features]

tn_daily_pollutant_data.head()

,county_code,site_number,latitude,longitude,parameter,sample_duration,date_local,units_of_measure,arithmetic_mean,aqi,county,cbsa
1,037,0040,36.1424,-86.7341,Carbon monoxide,1 HOUR,2015-12-01,Parts per million,0.400000,NaN,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
2,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-30,Parts per million,0.475000,7.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
3,037,0040,36.1424,-86.7341,Carbon monoxide,1 HOUR,2015-11-30,Parts per million,0.513043,NaN,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
4,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-29,Parts per million,0.350000,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
5,037,0040,36.1424,-86.7341,Carbon monoxide,1 HOUR,2015-11-29,Parts per million,0.325000,NaN,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"

In [92]:
tn_daily_pollutant_data = tn_daily_pollutant_data.dropna()
tn_daily_pollutant_data.head(20)

,county_code,site_number,latitude,longitude,parameter,sample_duration,date_local,units_of_measure,arithmetic_mean,aqi,county,cbsa
2,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-30,Parts per million,0.475000,7.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
4,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-29,Parts per million,0.350000,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
6,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-28,Parts per million,0.429167,7.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
8,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-27,Parts per million,0.375000,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
10,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-26,Parts per million,0.345833,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
12,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-25,Parts per million,0.595833,11.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
14,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-24,Parts per million,0.954167,14.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
16,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-23,Parts per million,0.637500,11.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
18,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-22,Parts per million,0.250000,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
20,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-21,Parts per million,0.420833,8.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
26,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-18,Parts per million,0.288889,5.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
28,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-17,Parts per million,0.320833,5.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
30,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-16,Parts per million,0.554167,10.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
32,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-15,Parts per million,0.908333,16.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
34,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-14,Parts per million,0.825000,14.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
36,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-13,Parts per million,0.337500,7.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
38,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-12,Parts per million,0.295833,5.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
42,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-10,Parts per million,0.579167,15.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
44,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-09,Parts per million,0.412500,6.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"
46,037,0040,36.1424,-86.7341,Carbon monoxide,8-HR RUN AVG END HOUR,2015-11-08,Parts per million,0.400000,5.0,Davidson,"Nashville-Davidson--Murfreesboro--Franklin, TN"

In [17]:
tn_daily_pollutant_data['date_local'].value_counts()

2015-08-22    186
2015-07-29    186
2015-09-15    185
2015-05-12    185
2015-09-09    185
             ...
2015-01-07     39
2015-01-13     39
2015-11-10     36
2015-01-08     35
2015-02-19     31
Name: date_local, Length: 335, dtype: int64

In [19]:
tn_daily_pollutant_data.groupby(['date_local', 'cbsa']).mean()

                                                            latitude  \
date_local cbsa
2015-01-01 Clarksville, TN-KY                              36.514627
           Kingsport-Bristol-Bristol, TN-VA                36.534804
           Knoxville, TN                                   35.893835
           Memphis, TN-MS-AR                               35.159285
           Nashville-Davidson--Murfreesboro--Franklin, TN  36.146770
...                                                              ...
2015-12-01 Kingsport-Bristol-Bristol, TN-VA                36.534804
           Knoxville, TN                                   35.852052
           Memphis, TN-MS-AR                               35.159483
           Nashville-Davidson--Murfreesboro--Franklin, TN  36.147316
           Sevierville, TN                                 35.696758

                                                           longitude  \
date_local cbsa
2015-01-01 Clarksville, TN-KY                             -87.328041
           Kingsport-Bristol-Bristol, TN-VA               -82.517078
           Knoxville, TN                                  -83.950516
           Memphis, TN-MS-AR                              -89.947634
           Nashville-Davidson--Murfreesboro--Franklin, TN -86.798210
...                                                              ...
2015-12-01 Kingsport-Bristol-Bristol, TN-VA               -82.517078
           Knoxville, TN                                  -83.976084
           Memphis, TN-MS-AR                              -89.939935
           Nashville-Davidson--Murfreesboro--Franklin, TN -86.806224
           Sevierville, TN                                -83.609612

                                                           arithmetic_mean  \
date_local cbsa
2015-01-01 Clarksville, TN-KY                                    10.100000
           Kingsport-Bristol-Bristol, TN-VA                       0.405556
           Knoxville, TN                                         16.638030
           Memphis, TN-MS-AR                                      5.990824
           Nashville-Davidson--Murfreesboro--Franklin, TN        15.061988
...                                                                    ...
2015-12-01 Kingsport-Bristol-Bristol, TN-VA                       0.454167
           Knoxville, TN                                          2.624664
           Memphis, TN-MS-AR                                      1.455406
           Nashville-Davidson--Murfreesboro--Franklin, TN         2.700000
           Sevierville, TN                                        0.036178

                                                                 aqi
date_local cbsa
2015-01-01 Clarksville, TN-KY                              42.000000
           Kingsport-Bristol-Bristol, TN-VA                 6.000000
           Knoxville, TN                                   61.000000
           Memphis, TN-MS-AR                               30.888889
           Nashville-Davidson--Murfreesboro--Franklin, TN  55.888889
...                                                              ...
2015-12-01 Kingsport-Bristol-Bristol, TN-VA                 7.000000
           Knoxville, TN                                   18.916667
           Memphis, TN-MS-AR                               10.300000
           Nashville-Davidson--Murfreesboro--Franklin, TN  11.000000
           Sevierville, TN                                 34.000000

[3032 rows x 4 columns]

In [24]:
tn_daily_co_data = aqs_fetcher.daily_data_by_state(tn_state_code, [co_code], 20150101, 20151201)
tn_daily_co_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4634 entries, 0 to 4633
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_code           4634 non-null   object
 1   county_code          4634 non-null   object
 2   site_number          4634 non-null   object
 3   parameter_code       4634 non-null   object
 4   poc                  4634 non-null   int64
 5   latitude             4634 non-null   float64
 6   longitude            4634 non-null   float64
 7   datum                4634 non-null   object
 8   parameter            4634 non-null   object
 9   sample_duration      4634 non-null   object
 10  pollutant_standard   4634 non-null   object
 11  date_local           4634 non-null   object
 12  units_of_measure     4634 non-null   object
 13  event_type           4634 non-null   object
 14  observation_count    4634 non-null   int64
 15  observation_percent  4634 non-null   float64
 16  validity_indicator   4634 non-null   object
 17  arithmetic_mean      4634 non-null   float64
 18  first_max_value      4634 non-null   float64
 19  first_max_hour       4634 non-null   int64
 20  aqi                  2317 non-null   float64
 21  method_code          4634 non-null   object
 22  method               4634 non-null   object
 23  local_site_name      3294 non-null   object
 24  site_address         4634 non-null   object
 25  state                4634 non-null   object
 26  county               4634 non-null   object
 27  city                 4634 non-null   object
 28  cbsa_code            4634 non-null   object
 29  cbsa                 4634 non-null   object
 30  date_of_last_change  4634 non-null   object
dtypes: float64(6), int64(3), object(22)
memory usage: 1.1+ MB

In [21]:
#def clean_dataframe1(df):
#    features = [ 'date_local', 'parameter', 'sample_duration', 'units_of_measure', 'arithmetic_mean', 'aqi']
#    df=df.loc[df['validity_indicator']=='Y']
#    df=df.loc[df['cbsa_code']=='34980']
#    df = df[features]
#    df = df.dropna()
#    
    
#    return df
 #

In [25]:
tn_daily_co_data = tn_daily_co_data.loc[tn_daily_co_data['validity_indicator']=='Y']

In [26]:
tn_daily_co_data = tn_daily_co_data.loc[tn_daily_co_data['cbsa_code']=='34980']

In [28]:
clean_features = [ 'date_local', 'parameter', 'sample_duration', 'units_of_measure', 'arithmetic_mean', 'aqi']
clean_co = tn_daily_co_data[clean_features].dropna()
clean_co.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 2 to 662
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_local        293 non-null    object
 1   parameter         293 non-null    object
 2   sample_duration   293 non-null    object
 3   units_of_measure  293 non-null    object
 4   arithmetic_mean   293 non-null    float64
 5   aqi               293 non-null    float64
dtypes: float64(2), object(4)
memory usage: 16.0+ KB

In [34]:
tn_daily_o3_data = aqs_fetcher.daily_data_by_state(tn_state_code, [o3_code], 20150101, 20151201)
tn_daily_o3_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24026 entries, 0 to 24025
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_code           24026 non-null  object
 1   county_code          24026 non-null  object
 2   site_number          24026 non-null  object
 3   parameter_code       24026 non-null  object
 4   poc                  24026 non-null  int64
 5   latitude             24026 non-null  float64
 6   longitude            24026 non-null  float64
 7   datum                24026 non-null  object
 8   parameter            24026 non-null  object
 9   sample_duration      24026 non-null  object
 10  pollutant_standard   24026 non-null  object
 11  date_local           24026 non-null  object
 12  units_of_measure     24026 non-null  object
 13  event_type           24026 non-null  object
 14  observation_count    24026 non-null  int64
 15  observation_percent  24026 non-null  float64
 16  validity_indicator   24026 non-null  object
 17  arithmetic_mean      24026 non-null  float64
 18  first_max_value      24026 non-null  float64
 19  first_max_hour       24026 non-null  int64
 20  aqi                  18026 non-null  float64
 21  method_code          24026 non-null  object
 22  method               24026 non-null  object
 23  local_site_name      24026 non-null  object
 24  site_address         24026 non-null  object
 25  state                24026 non-null  object
 26  county               24026 non-null  object
 27  city                 24026 non-null  object
 28  cbsa_code            21356 non-null  object
 29  cbsa                 21356 non-null  object
 30  date_of_last_change  24026 non-null  object
dtypes: float64(6), int64(3), object(22)
memory usage: 5.7+ MB

In [35]:
tn_daily_o3_data = tn_daily_o3_data.loc[tn_daily_o3_data['validity_indicator']=='Y']

In [36]:
tn_daily_o3_data = tn_daily_o3_data.loc[tn_daily_o3_data['cbsa_code']=='34980']

In [37]:
clean_o3 = tn_daily_o3_data[clean_features].dropna()
clean_o3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3628 entries, 4211 to 14026
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_local        3628 non-null   object
 1   parameter         3628 non-null   object
 2   sample_duration   3628 non-null   object
 3   units_of_measure  3628 non-null   object
 4   arithmetic_mean   3628 non-null   float64
 5   aqi               3628 non-null   float64
dtypes: float64(2), object(4)
memory usage: 198.4+ KB

In [39]:
clean_o3.head()

,date_local,parameter,sample_duration,units_of_measure,arithmetic_mean,aqi
4211,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.015647,19.0
4212,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.014542,19.0
4213,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.014542,19.0
4215,2015-10-31,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.019118,24.0
4216,2015-10-31,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.016542,24.0

In [13]:
tn_daily_o3_data = tn_daily_o3_data.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3628 entries, 4211 to 14026
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_local        3628 non-null   object
 1   parameter         3628 non-null   object
 2   sample_duration   3628 non-null   object
 3   units_of_measure  3628 non-null   object
 4   arithmetic_mean   3628 non-null   float64
 5   aqi               3628 non-null   float64
dtypes: float64(2), object(4)
memory usage: 198.4+ KB

In [15]:
clean_o3.head()

,date_local,parameter,sample_duration,units_of_measure,arithmetic_mean,aqi
4211,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.015647,19.0
4212,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.014542,19.0
4213,2015-11-01,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.014542,19.0
4215,2015-10-31,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.019118,24.0
4216,2015-10-31,Ozone,8-HR RUN AVG BEGIN HOUR,Parts per million,0.016542,24.0

In [16]:
clean_o3_date = clean_o3.groupby('date_local')
clean_o3_date.info()

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'

In [64]:
tn_daily_pm_data = aqs_fetcher.daily_data_by_state(tn_state_code, [pm_code], 20150101, 20151201)

In [66]:
clean_pm = clean_dataframe(tn_daily_pm_data)

clean_pm.head()

,date_local,parameter,sample_duration,units_of_measure,arithmetic_mean,aqi
2132,2015-12-01,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),2.9,12
2133,2015-12-01,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),2.9,12
2134,2015-12-01,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),2.9,12
2135,2015-12-01,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),2.9,12
2136,2015-11-30,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),2.9,12
...,...,...,...,...,...,...
12422,2015-01-12,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),11.2,47
12423,2015-01-12,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),11.2,47
12552,2015-08-31,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),10.0,42
12684,2015-05-18,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),5.7,24
12844,2015-01-12,PM2.5 - Local Conditions,24 HOUR,Micrograms/cubic meter (LC),10.9,45

In [32]:
features = [ 'date_local', 'parameter', 'sample_duration', 'units_of_measure', 'arithmetic_mean', 'aqi']
tn_daily_co_data = tn_daily_co_data.loc[(tn_daily_co_data['validity_indicator'] == 'Y')]
tn_daily_co_data.head()

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
1,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
2,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
3,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
4,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
5,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07

In [33]:
tn_daily_co_data1 = tn_daily_co_data.loc[tn_daily_co_data['cbsa_code']=='34980']
tn_daily_co_data1.head()

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
1,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
2,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
3,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
4,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07
5,47,037,0040,42101,1,36.1424,-86.7341,WGS84,Carbon monoxide,1 HOUR,...,054,INSTRUMENTAL - NONDISPERSIVE INFRARED,Near Road,1113 Elm Hill Pike,Tennessee,Davidson,Nashville-Davidson (Remainder),34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",2016-04-07

In [36]:
tn_daily_o3_data = aqs_fetcher.daily_data_by_state(tn_state_code, [o3_code], 20150101, 20151201)
tn_daily_o3_data.head(10)

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
1,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
2,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
3,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,1 HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
4,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
5,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
6,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
7,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,1 HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
8,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18
9,47,093,0021,44201,1,36.085508,-83.764806,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,087,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,East Knox Elementary School,9315 RUTLEDGE PIKE MASCOT TN 37806,Tennessee,Knox,Mascot,28940,"Knoxville, TN",2018-07-18

In [37]:
tn_daily_pm_data = aqs_fetcher.daily_data_by_state(tn_state_code, [pm_code], 20150101, 20151201)
tn_daily_pm_data.head(10)

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
1,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
2,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
3,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
4,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
5,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
6,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
7,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
8,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04
9,47,065,1011,88101,1,35.233476,-85.181581,WGS84,PM2.5 - Local Conditions,24 HOUR,...,145,R & P Model 2025 PM-2.5 Sequential Air Sampler...,Soddy-Daisy High School,SODDY DAISY H.S. 00618 SEQUOYAH RD,Tennessee,Hamilton,Soddy-Daisy,16860,"Chattanooga, TN-GA",2020-03-04

In [13]:
#tn_daily_co_data.columns
tn_daily_co_data.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
tn_daily_pollutant_data['sample_duration'].value_counts()

In [ ]:
tn_daily_pollutant_data['parameter'].value_counts()

In [ ]:
tn_daily_pollutant_data = tn_daily_pollutant_data.dropna()

In [ ]:
tn_daily_pollutant_data.info()

In [ ]:
pollutant_codes

In [ ]:
tn_daily_ozone_data = aqs_fetcher.daily_data_by_state(tn_state_code, '44201', 20150101, 20151201)
tn_daily_pollutant_data.head(10)