In [1]:
# Import Dependencies for Machine Learning

import joblib
import pickle
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
import sqlite3 as sq
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import dataset
url = "https://drive.google.com/file/d/1uG3yPNRihgE3j2bGQGOAq8iNgMjXlybw/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
weather_df = pd.read_csv(path, index_col=0)

In [3]:
weather_df.head(10)

,City,State,Country,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,Brentwood,TN,United States,2018-01-01,21.0,6.6,13.2,-7.7,NaN,0.0,0.0,0.0,13.7,291.50,18.3,9.9,27.4,58.76,Partially cloudy
1,Fayetteville,TN,United States,2018-01-01,22.0,10.8,14.7,-5.6,NaN,0.0,0.0,0.0,15.6,123.46,22.5,9.7,32.5,62.40,Partially cloudy
2,Franklin,TN,United States,2018-01-01,20.7,6.6,13.1,-7.4,NaN,0.0,0.0,0.0,13.8,306.21,18.3,9.9,26.5,59.63,Partially cloudy
3,Hendersonville,TN,United States,2018-01-01,21.1,6.8,13.3,-7.5,NaN,0.0,0.0,0.0,13.4,292.13,19.7,9.9,32.2,58.99,Partially cloudy
4,Nashville,TN,United States,2018-01-01,21.7,7.1,13.6,-7.9,NaN,0.0,0.0,0.0,13.9,278.04,21.9,9.9,32.1,57.18,Partially cloudy
5,Brentwood,TN,United States,2018-01-02,25.4,4.3,14.1,-6.4,NaN,0.0,0.0,0.0,7.4,165.92,NaN,9.9,16.4,52.74,Clear
6,Fayetteville,TN,United States,2018-01-02,28.7,5.7,16.2,-6.0,NaN,0.0,0.0,0.0,9.3,184.46,NaN,9.9,14.2,55.45,Clear
7,Franklin,TN,United States,2018-01-02,25.1,4.0,13.8,-6.4,NaN,0.0,0.0,0.0,7.3,193.88,NaN,9.9,12.3,53.90,Clear
8,Hendersonville,TN,United States,2018-01-02,25.0,4.3,13.9,-6.8,NaN,0.0,0.0,0.0,7.9,166.08,NaN,9.9,18.0,52.93,Clear
9,Nashville,TN,United States,2018-01-02,25.8,4.8,14.6,-6.9,NaN,0.0,0.0,0.0,8.8,153.88,NaN,9.9,24.8,50.71,Clear

In [4]:
#import aqi dataset
url = "https://drive.google.com/file/d/1pvPyRj--mbnipGaNnXDH_Fh7ncFvVZWO/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
air_df = pd.read_csv(path, index_col=0)

In [5]:
air_df.head(10)

,state,county,city,date_local,parameter,sample_duration,units_of_measure,arithmetic_mean,aqi
3911,Tennessee,Dyer,Dyersburg,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),3.2,13.0
39160,Tennessee,McMinn,Athens,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),5.9,25.0
22527,Tennessee,Hamilton,Chattanooga,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),7.6,32.0
12304,Tennessee,Montgomery,Clarksville,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),7.2,30.0
28312,Tennessee,Madison,Jackson,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),4.9,20.0
36466,Tennessee,Loudon,Loudon,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),4.7,20.0
17530,Tennessee,Lawrence,Loretto,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),6.3,26.0
26553,Tennessee,Putnam,Cookeville,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),6.8,28.0
13980,Tennessee,Sumner,Hendersonville,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),6.2,26.0
2127,Tennessee,Maury,Columbia,2018-01-01,PM2.5 - Local Conditions,24-HR BLK AVG,Micrograms/cubic meter (LC),5.9,25.0

In [6]:
weather_df.columns

Index(['City', 'State', 'Country', 'Date time', 'Maximum Temperature',
       'Minimum Temperature', 'Temperature', 'Wind Chill', 'Heat Index',
       'Precipitation', 'Snow', 'Snow Depth', 'Wind Speed', 'Wind Direction',
       'Wind Gust', 'Visibility', 'Cloud Cover', 'Relative Humidity',
       'Conditions'],
      dtype='object')

In [7]:
weather_df_clean = weather_df.drop(columns=["State", "Country",
                         "Maximum Temperature", "Minimum Temperature", "Wind Chill", "Snow Depth", "Wind Gust",
                         "Heat Index", "Wind Direction", "Snow", "Visibility", "Cloud Cover" ])
weather_df_clean.head(10)

,City,Date time,Temperature,Precipitation,Wind Speed,Relative Humidity,Conditions
0,Brentwood,2018-01-01,13.2,0.0,13.7,58.76,Partially cloudy
1,Fayetteville,2018-01-01,14.7,0.0,15.6,62.40,Partially cloudy
2,Franklin,2018-01-01,13.1,0.0,13.8,59.63,Partially cloudy
3,Hendersonville,2018-01-01,13.3,0.0,13.4,58.99,Partially cloudy
4,Nashville,2018-01-01,13.6,0.0,13.9,57.18,Partially cloudy
5,Brentwood,2018-01-02,14.1,0.0,7.4,52.74,Clear
6,Fayetteville,2018-01-02,16.2,0.0,9.3,55.45,Clear
7,Franklin,2018-01-02,13.8,0.0,7.3,53.90,Clear
8,Hendersonville,2018-01-02,13.9,0.0,7.9,52.93,Clear
9,Nashville,2018-01-02,14.6,0.0,8.8,50.71,Clear

In [8]:
weather_df_clean = weather_df_clean.rename(columns={"Date time": "date_time", "Wind Speed": "wind_speed",
                                                   "Relative Humidity": "relative_humidity"})
weather_df_clean.columns

Index(['City', 'date_time', 'Temperature', 'Precipitation', 'wind_speed',
       'relative_humidity', 'Conditions'],
      dtype='object')

In [9]:
air_df.columns

Index(['state', 'county', 'city', 'date_local', 'parameter', 'sample_duration',
       'units_of_measure', 'arithmetic_mean', 'aqi'],
      dtype='object')

In [10]:
air_df_clean  = air_df.drop(columns=['state', 'county','parameter', 'sample_duration','units_of_measure', 'arithmetic_mean',])
air_df_clean.head(10)

                 city  date_local   aqi
3911        Dyersburg  2018-01-01  13.0
39160          Athens  2018-01-01  25.0
22527     Chattanooga  2018-01-01  32.0
12304     Clarksville  2018-01-01  30.0
28312         Jackson  2018-01-01  20.0
36466          Loudon  2018-01-01  20.0
17530         Loretto  2018-01-01  26.0
26553      Cookeville  2018-01-01  28.0
13980  Hendersonville  2018-01-01  26.0
2127         Columbia  2018-01-01  25.0

In [11]:
sql_data = 'pollution.sqlite'


# Create connection & push the data:

conn = sq.connect(sql_data)
cur = conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS "WEATHER";
CREATE TABLE "WEATHER" (
	"index" INTEGER PRIMARY KEY AUTOINCREMENT,
	"city" TEXT NOT NULL,
	"date_time" TEXT NOT NULL,
	"Temperature" INTEGER NOT NULL,
	"Precipitation" TEXT NOT NULL,
	"wind_speed" TEXT NOT NULL,
    "relative_humidity" TEXT NOT NULL,
    "Conditions" TEXT NOT NULL
);
DROP TABLE IF EXISTS "POLLUTION";
CREATE TABLE "POLLUTION" (
	"index" INTEGER PRIMARY KEY AUTOINCREMENT,
	"city" TEXT NOT NULL,
	"date_local" INTEGER NOT NULL,
	"AQI" TEXT NOT NULL
);
''')
# conn.commit()
weather_df_clean.to_sql("WEATHER", conn, if_exists='append', index=True)
# conn.commit()
air_df_clean.to_sql("POLLUTION", conn, if_exists='append', index=True)

conn.commit()
conn.close()

In [12]:
# Create a new connection that combines the tables in SQLite:

conn = sq.connect(sql_data)
cur = conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS "COMBINED";
CREATE TABLE "COMBINED" AS
  SELECT weather.city, weather.date_time, weather.Temperature, weather.Precipitation,
  weather.wind_speed, weather.relative_humidity, weather.Conditions, pollution.city,
  pollution.date_local, pollution.AQI
  FROM pollution, weather
  WHERE pollution.date_local = weather.date_time
  AND pollution.city = weather.City;
''')

conn.commit()
conn.close()

In [13]:
# Reflect the Tables into SQLAlchemy ORM
engine = create_engine("sqlite:///pollution.sqlite")

# Reflect an existing database into a new model:
Base = automap_base()

# Reflect the tables:
Base.prepare(engine, reflect=True)

In [14]:

# We can view all of the classes that automap found
Base.classes.keys()

['POLLUTION', 'WEATHER']